<tagLib name="html" />
<include file = "Common:header" title = "{$title}" />
<script src="__ROOT__/js/admin/admin.js"></script>
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>新增邮件服务器</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <form class="form-horizontal" role="form" action="{:U('Mailserver/add')}" method="post">
                  	<div class="form-group">
                  		<label class="control-label col-sm-3">SMTP服务器地址:</label>
                  		<div class="col-sm-5">
                  			<input class="form-control" name="smtp_server" required='' type="text" >
                  		</div>
                  	</div>
                 	 	<div class="form-group">
                  		<label class="control-label col-sm-3">账号:</label>
                  		<div class="col-sm-5">
                  			<input class="form-control" name="smtp_name" required='' type="text" >
                  		</div>
                  	</div>
                 	 	<div class="form-group">
                  		<label class="control-label col-sm-3">密码:</label>
                  		<div class="col-sm-5">
                  			<input class="form-control" name="smtp_pwd" required='' type="password" >
                  		</div>
                  	</div>	
                 	 	<div class="form-group">
                  		<label class="control-label col-sm-3">是否需要身份验证:</label>
                  		<div class="col-sm-1">
                  			 <select name="is_verify" class="form-control chosen-select" >
                                  <option value="1">是</option >
                                   <option value="0">否</option >
                              </select>
                  		</div>
                  	</div>
                 	 	<div class="form-group">
                  		<label class="control-label col-sm-3">端口号:</label>
                  		<div class="col-sm-5">
                  			<input class="form-control" name="smtp_port"  type="text" value="25" >
                  		</div>
                  	</div>
                 	 	<div class="form-group">
                  		<label class="control-label col-sm-3">是否SSL加密:</label>
                  		<div class="col-sm-1">
                  			<select name="is_ssl" class="form-control chosen-select" >
                  				<option value="0">否</option>
                  				<option value="1">是</option>
                  			</select>
                  		</div>
                  	</div>
                 	 	<div class="form-group">
                  		<label class="control-label col-sm-3">已用次数:</label>
                  		<div class="col-sm-5">
                  			<input class="form-control" name="total_use" type="text" value="0" >
                  		</div>
                  	</div>
                 	 	<div class="form-group">
                  		<label class="control-label col-sm-3">可用次数:</label>
                  		<div class="col-sm-5">
                  			<input class="form-control" name="use_limit" type="text" value="0" >
                  			<span class="help-block text-info">[可用次数为0时表示无限次数使用]</span>
                  		</div>
                  	</div>
                 	 	<div class="form-group">
                  		<label class="control-label col-sm-3">是否自动清零:</label>
                  		<div class="col-sm-1">
                  			<select name="is_reset" class="form-control chosen-select" >
                  				<option value="0">否</option>
                  				<option value="1">是</option>
                  			</select>
                  			
                  		</div>
                  	</div>							
                  	 <div class="form-group">
                  		<label class="control-label col-sm-3">状态:</label>
                  		<div class="col-sm-5">
                  			<input type="radio" name="is_effect" class="i-checks" checked="checked" value="1">有效
                  			<input type="radio" name="is_effect" class="i-checks" value="0">无效
                  		</div>
                  	</div>		
                  	<div class="form-group">
                  		<div class="col-sm-offset-4 col-xs-offset-2 fl">
                  			<button class="btn btn-primary" type="submit">新增</button>
                  		</div>
                  		<div class="col-sm-2 col-xs-2">
                  			<button class="btn btn-primary" type="reset">重置</button>
                  		</div>
                  	</div>
                </form> 
        </div>
    </div>
</div>
</div>
<!-- 调用脚部文件 -->
<include file = "Common:footer"  />