<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>项目页</title>
<link rel="stylesheet" type="text/css" href="css/deal.css">
<link rel="stylesheet" type="text/css" href="css/common.css">
</head>

<body>
<!--choice begin-->
<div class="kong50"></div>
	<section class="choice w1200">
        <dl class="clearfix">
            <dt class="fl col666 bb">所属行业</dt>
            <dd class="bb">
                <a class="active" href="javascript:void(0)">全部</a>
                <a class="" href="javascript:void(0)">信息通讯</a>
                <a class="" href="javascript:void(0)">移动互联</a>
                <a class="" href="javascript:void(0)">消费服务</a>
                <a class="" href="javascript:void(0)">节能环保</a>
                <a class="" href="javascript:void(0)">文化传媒</a>
                <a class="" href="javascript:void(0)">生物制药</a>
                <a class="" href="javascript:void(0)">金融服务</a>
                <a class="" href="javascript:void(0)">工业制造</a>
                <a class="" href="javascript:void(0)">医疗保健</a>
                <a class="" href="javascript:void(0)">能源材料</a>
                <a class="" href="javascript:void(0)">军工科技</a>
                <a class="" href="javascript:void(0)">农林牧渔</a>
                <a class="" href="javascript:void(0)">旅游度假</a>
                <a class="" href="javascript:void(0)">仓储物流</a>
                <a class="" href="javascript:void(0)">智慧家居</a>
                <a class="" href="javascript:void(0)">其他类别</a>
            </dd>
        </dl>
        <dl class="clearfix">
            <dt class="fl col666 bb">所属地区</dt>
            <dd class="bb">
                <a class="active" href="javascript:void(0)">全部</a>
                <a class="" href="javascript:void(0)">浙江</a>
                <a class="" href="javascript:void(0)">北京</a>
                <a class="" href="javascript:void(0)">重庆</a>
                <a class="" href="javascript:void(0)">江西</a>
                <a class="" href="javascript:void(0)">上海</a>
                <a class="" href="javascript:void(0)">江苏</a>
                <a class="" href="javascript:void(0)">广东</a>
                <a class="" href="javascript:void(0)">安徽</a>
                <a class="" href="javascript:void(0)">河北</a>
                <a class="" href="javascript:void(0)">山东</a>
                <a class="" href="javascript:void(0)">湖南</a>
                <a class="" href="javascript:void(0)">福建</a>
                <a class="" href="javascript:void(0)">河南</a>
            </dd>
        </dl>
	</section>
<!--choice end-->
<div class="kong30"></div>
	<section class="deal w1200">
		<div class="newpro-content clearfix">
            <div class="newpro-tj-list">
                <a class="proimga" href="##" style="display:block;">
                    <img class="newpro-tj-list-img" src="img/hottj1.jpg" alt="" width="375" height="198">
                </a>
                <div class="newpro-tj-list-txt">
                    <h3><a class="probt" href="##">河北金砖药业有限公司有限公司有限公司</a></h3>
                    <div class="newpro-tj-list-bq">
                        <em>标签</em>
                        <span>欧盟标准</span>
                    </div>
                    <p class="newpro-tj-list-jj">
                        河北金砖药业有限公司前身为解放前八路军129师司令部所建，名为河北东风药厂，解放后于19……
                    </p>
                </div>
                <div class="newpro-tj-bottom">
                    <div class="newpro-tj-bottom-code">
                        ●&nbsp;项目代码：<span class="newpro-tj-bottom-code-con">2859</span>
                    </div>
                    <div class="newpro-tj-playing">
                        正在进行中
                    </div>
                </div>
            </div>
            <div class="newpro-tj-list">
                <a class="proimga" href="##" style="display:block;">
                    <img class="newpro-tj-list-img" src="img/hottj1.jpg" alt="" width="375" height="198">
                </a>
                <div class="newpro-tj-list-txt">
                    <h3><a class="probt" href="##">河北金砖药业有限公司有限公司有限公司</a></h3>
                    <div class="newpro-tj-list-bq">
                        <em>标签</em>
                        <span>欧盟标准</span>
                    </div>
                    <p class="newpro-tj-list-jj">
                        河北金砖药业有限公司前身为解放前八路军129师司令部所建，名为河北东风药厂，解放后于19……
                    </p>
                </div>
                <div class="newpro-tj-bottom">
                    <div class="newpro-tj-bottom-code">
                        ●&nbsp;项目代码：<span class="newpro-tj-bottom-code-con">2859</span>
                    </div>
                    <div class="newpro-tj-playing">
                        正在进行中
                    </div>
                </div>
            </div>
            <div class="newpro-tj-list">
                <a class="proimga" href="##" style="display:block;">
                    <img class="newpro-tj-list-img" src="img/hottj1.jpg" alt="" width="375" height="198">
                </a>
                <div class="newpro-tj-list-txt">
                    <h3><a class="probt" href="##">河北金砖药业有限公司有限公司有限公司</a></h3>
                    <div class="newpro-tj-list-bq">
                        <em>标签</em>
                        <span>欧盟标准</span>
                    </div>
                    <p class="newpro-tj-list-jj">
                        河北金砖药业有限公司前身为解放前八路军129师司令部所建，名为河北东风药厂，解放后于19……
                    </p>
                </div>
                <div class="newpro-tj-bottom">
                    <div class="newpro-tj-bottom-code">
                        ●&nbsp;项目代码：<span class="newpro-tj-bottom-code-con">2859</span>
                    </div>
                    <div class="newpro-tj-playing">
                        正在进行中
                    </div>
                </div>
            </div>
            <div class="newpro-tj-list">
                <a class="proimga" href="##" style="display:block;">
                    <img class="newpro-tj-list-img" src="img/hottj1.jpg" alt="" width="375" height="198">
                </a>
                <div class="newpro-tj-list-txt">
                    <h3><a class="probt" href="##">河北金砖药业有限公司有限公司有限公司</a></h3>
                    <div class="newpro-tj-list-bq">
                        <em>标签</em>
                        <span>欧盟标准</span>
                    </div>
                    <p class="newpro-tj-list-jj">
                        河北金砖药业有限公司前身为解放前八路军129师司令部所建，名为河北东风药厂，解放后于19……
                    </p>
                </div>
                <div class="newpro-tj-bottom">
                    <div class="newpro-tj-bottom-code">
                        ●&nbsp;项目代码：<span class="newpro-tj-bottom-code-con">2859</span>
                    </div>
                    <div class="newpro-tj-playing">
                        正在进行中
                    </div>
                </div>
            </div>
        </div>
	</section>
</body>
</html>
