<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>会议路演</title>
<link rel="stylesheet" type="text/css" href="css/luyan.css">
<link rel="stylesheet" type="text/css" href="css/common.css">
</head>

<body>
<div class="kong50"></div>
<!--路演 begin-->
	<div class="title w1200">
    	<em>会议活动</em>
    	<i></i>
    </div>
    <div class="kong30"></div>
    <section class="w1200 ly">
    	<ul class="ly_will w100">
    		<li class="clearfix">
    			<a class="fl" href="#"><img class="dis-blo" src="img/ly1.jpg" width="490" height="270" alt=""></a>
    			<div class="fl ly_will_txt">
    				<h3><a href="##" class="f22">2017华汶实业新品发布暨股权投资</a></h3>
    				<div class="kong25"></div>
    				<div class="f18 col222 line30">时间：2017-08-02</div>
    				<div class="f18 col222 line30">主办单位：山东华汶股份有限公司</div>
    				<div class="f18 col222 line30">路演地点：中国浙江</div>
    				<div class="f18 col222 line30">活动规模：1000人</div>
    				<div class="kong25"></div>
    				<div class="looks col666">6354</div>
    			</div>
    			<div class="ly_will_txt_yy">立即预约<i></i></div>
    		</li>
    		<li class="clearfix">
    			<a class="fl" href="#"><img class="dis-blo" src="img/ly1.jpg" width="490" height="270" alt=""></a>
    			<div class="fl ly_will_txt">
    				<h3><a href="##" class="f22">2017华汶实业新品发布暨股权投资</a></h3>
    				<div class="kong25"></div>
    				<div class="f18 col222 line30">时间：2017-08-02</div>
    				<div class="f18 col222 line30">主办单位：山东华汶股份有限公司</div>
    				<div class="f18 col222 line30">路演地点：中国浙江</div>
    				<div class="f18 col222 line30">活动规模：1000人</div>
    				<div class="kong25"></div>
    				<div class="looks col666">6354</div>
    			</div>
    			<div class="ly_will_txt_yy">立即预约<i></i></div>
    		</li>
    	</ul>
    	<ul class="ly_had w100">
    		<li class="clearfix">
    			<a class="fl" href="#"><img class="dis-blo" src="img/ly2.jpg" width="350" height="200" alt=""></a>
    			<div class="fl ly_had_txt">
    				<h3><a href="##" class="f22">2017华汶实业新品发布暨股权投资</a></h3>
    				<div class="kong20"></div>
    				<div class="f18 col222 fweight6 line30">时间：2017-08-02</div>
    				<div class="f18 col222 fweight6 line30">主办单位：山东华汶股份有限公司</div>
    				<div class="f18 col222 fweight6 line30">路演地点：中国浙江</div>
    				<div class="f18 col222 fweight6 line30">活动规模：1000人</div>
    			</div>
    			<a href="##" class="ly_will_txt_yy">媒体报道<i></i></a>
    		</li>
    		<li class="clearfix">
    			<a class="fl" href="#"><img class="dis-blo" src="img/ly2.jpg" width="350" height="200" alt=""></a>
    			<div class="fl ly_had_txt">
    				<h3><a href="##" class="f22">2017华汶实业新品发布暨股权投资</a></h3>
    				<div class="kong20"></div>
    				<div class="f18 col222 fweight6 line30">时间：2017-08-02</div>
    				<div class="f18 col222 fweight6 line30">主办单位：山东华汶股份有限公司</div>
    				<div class="f18 col222 fweight6 line30">路演地点：中国浙江</div>
    				<div class="f18 col222 fweight6 line30">活动规模：1000人</div>
    			</div>
    			<a href="##" class="ly_will_txt_yy">媒体报道<i></i></a>
    		</li>
    		<li class="clearfix">
    			<a class="fl" href="#"><img class="dis-blo" src="img/ly2.jpg" width="350" height="200" alt=""></a>
    			<div class="fl ly_had_txt">
    				<h3><a href="##" class="f22">2017华汶实业新品发布暨股权投资</a></h3>
    				<div class="kong20"></div>
    				<div class="f18 col222 fweight6 line30">时间：2017-08-02</div>
    				<div class="f18 col222 fweight6 line30">主办单位：山东华汶股份有限公司</div>
    				<div class="f18 col222 fweight6 line30">路演地点：中国浙江</div>
    				<div class="f18 col222 fweight6 line30">活动规模：1000人</div>
    			</div>
    			<a href="##" class="ly_will_txt_yy">媒体报道<i></i></a>
    		</li>
    	</ul>
    </section>
<!--路演 end-->
<div class="kong40"></div>
</body>
</html>
