<include file="Public:header" />
	<div class="kong50"></div>
	<section class="w1200 disclaimer">
		<div class="disclaimer_tit">
			<em>投资达客用户协议</em>
			<span>投资达客免责声明</span>
		</div>
		<p class="pwei">投资达客用户协议</p>
		<p>"投资达客"所提供的各项服务的所有权和运作权属于其运营商。用户必须同意下述所有服务条款并完成注册程序，才能成为"投资达客"的正式会员并使用"投资达客"提供的各项服务。服务条款的修改权归"投资达客"运营商所有。</p>
		
		<p class="pwei">一、服务条款的确认和接纳</p>
		<p>1.1、《投资达客服务条款》是投资达客网站的注册用户（以下简称"投资达客用户"）登录 "投资达客网站"，注册"投资达客帐号"，创建 "投资达客账户"，使用"投资达客服务"而制定。</p>
		<p>1.2、"投资达客用户"是通过在投资达客网站注册帐号（注册用户）或者填写个人信息（使用用户）而在投资达客创建账户的人。"投资达客用户"有权使用投资达客服务。</p>
		<p>1.3、您在使用投资达客服务之前，请仔细阅读本服务条款。如您不同意本服务条款（以下如无特殊说明，"本服务条款"均包括本服务条款随时所做的修改），请立即停止使用投资达客提供的全部服务；您一旦通过注册账号或填写个人信息而成为投资达客用户， 即视为您已了解并完全同意本使用服务条款的各项内容，包括服务条款随时所做的任何修改。</p>
		
		<p class="pwei">二、用户账户的注册与使用</p>
		<p>2.1、投资达客网，作为“金融诚信服务商”、“互联网行业领先企业”的平台。投资达客依托活跃的新三板专业投资人社区，建立新三板投融资数据库，汇聚新三板前沿资讯，拥有专业的新三板行情分析系统，构建创新型高效融资服务体系，快速满足新三板市场投资人与企业之间的投融资对接需求，为新三板企业深度展示投资价值，提供高效率、定制化、可持续的融资服务，是新三板市场可信赖的金融服务平台！</p>
		<p>2.2、您了解并同意，投资达客服务仅依其当前所呈现的状况提供，对于任何用户通讯或个人化设定之时效、删除、传递错误、未予储存或其他任何问题，投资达客均不承担任何责任。投资达客保留不经事先通知为维修、升级或其他目的暂停投资达客服务任何部分的权利。</p>
		<p>2.3、为使用"投资达客"，您必须能够自行经有法律资格对您提供互联网接入服务的第三方，进入国际互联网，并应自行支付相关服务费用。此外，您必须自行配备及负责与国际联网连线所需之一切必要装备，包括计算机、数据机、移动通讯终端或其他存取装置。</p>
		<p>2.4、投资达客的域名、用户帐号和用户空间的所有权归投资达客，用户经过许可有使用权。</p>
		<p>2.5、经投资达客注册系统完成注册程序并获得投资达客帐号的用户即为投资达客的正式用户，即获得投资达客规定用户所应享有的一切权限；投资达客有权对其正式用户的权限设计进行变更。在用户申请会员服务填写注册资料时，用户要确保所填写的信息是真实有效的。如果因注册信息不真实而引起的问题，并对问题发生所带来的后果，投资达客公司不负任何责任。 用户注册帐号时不得以下列内容作为帐号名称，如发现用户帐号中含有不雅文字或不恰当名称的，投资达客保留取消其用户资格的权利。</p>
		<p>2.6、为了能使用"投资达客服务"，您了解并同意以下事项：您必须依照注册提示填写真实姓名、注册邮箱和密码，并填写真实的个人资料，包括个人信息和个人简历。 如果投资达客有理由怀疑您的个人资料存在不真实的情况，有权暂停或终止您的帐号，并在现在和未来拒绝您使用全部或任何部分的投资达客服务。</p>
		<p>2.7、投资达客帐号使用权仅属于初始申请注册人，禁止赠与、借用、租用、转让或售卖。如果投资达客发现使用者并非帐号初始注册人，投资达客公司有权在未经通知的情况下回收该帐号而无需向该帐号使用人承担法律责任，由此带来的包括并不限于用户资料等清空等损失由用户自行承担。第投资达客禁止用户私下有偿或无偿转让帐号及其中的虚拟物品，以免因帐号此产生纠纷，用户应当自行承担因违反此要求而遭致的任何损失，同时投资达客保留追究上述行为人法律责任的权利。</p>
		<p>2.8、用户承担投资达客帐号与密码的保管责任，并就其帐号及密码项下之一切活动负全部责任。用户须重视投资达客帐号密码和公开邮箱的密码保护。用户同意如发现他人未经许可使用其帐号时立即通知投资达客。</p>
		<p>2.9、用户投资达客帐号在丢失或遗忘密码后，须遵照投资达客的申诉途径及时申诉请求找回帐号。用户应不断提供能增加帐号安全性的个人密码保护资料。用户可以凭初始注册资料及个人密码保护资料填写申诉单向投资达客申请找回帐号，投资达客的密码找回机制仅负责识别申诉单上所填资料与系统记录资料的正确性，而无法识别申诉人是否系真正帐号权使用人。对用户因被他人冒名申诉而致的任何损失，投资达客不承担任何责任，用户知晓投资达客帐号及密码保管责任在于用户，投资达客并不承诺投资达客帐号丢失或遗忘密码后用户一定能通过申诉找回帐号。</p>
		
		<p class="pwei">三、用户的隐私和个人信息保护</p>
		<p>3.1、投资达客绝对尊重用户的个人隐私权，并努力维护用户的个人隐私，主要体现在以下方面： </p>
		<p class="p2em">1) 投资达客只会发布用户选择公开的资料，绝不会公开发布用户的保密信息；</p>
		<p class="p2em">2) 商业方案中用户选择保密的信息，只有用户选择的投资人可见（详见隐私条款），而不会公开给其他投资人。</p>
		<p>3.2、投资达客不会将用户的注册信息、保密信息或非公开资料提供给第三方，但下列情形除外：</p>
		<p class="p2em">1)  事先获得了用户的明确授权；</p>
		<p class="p2em">2)  需要听从法庭传票、法律命令或遵循法律程序；</p>
		<p class="p2em">3)  需要满足相关政府部门的要求；</p>
		<p class="p2em">4)  需要维护社会公众的利益；</p>
		<p class="p2em">5)  投资达客发现用户违反了服务条款或网站其它使用规定；</p>
		<p>3.3、使用投资达客存在风险，在下列情形下，投资达客不保证用户的隐私和个人信息安全：</p>
		<p class="p2em">1)  他人在其他地方看到用户的保密信息或非公开资料； </p>
		<p class="p2em">2)  可以看到用户保密信息的人将这些信息转告或者转发他人；</p>
		<p class="p2em">3)  其他人根据公开信息来推断保密信息，例如产品创新点、财富值等等具体细则请见——隐私条款。</p>
		
		<p class="pwei">四、投资达客用户的专属权利</p>
		<p>4.1、投资达客用户有权随时自愿公开发布信息，包括个人信息和公司信息。投资达客用户有权浏览其他用户在网站上公开发布的的信息。</p>
		<p>4.2、在投资达客服务使用过程中有任何疑问要咨询，或者遇到任何问题要解决，投资达客用户有权随时向投资达客客户服务人员提出要求解决。</p>
		<p>4.3、对投资达客发展有任何意见或者建议，投资达客用户有权随时向投资达客提出，共同推进投资达客的发展。</p>
		<p>4.4、如果在投资达客内发现任何非法、虚假或者其他它不合适的内容，投资达客用户有权随时向投资达客官方账户进行举报和投诉。</p>
		
		<p class="pwei">五、投资达客用户的义务</p>
		<p>5.1、投资达客用户有义务对自己发布的个人和项目信息的真实性、有效性、及时性负责，并不断更新资料，若由于信息的虚假、失效或者不及时而给其自身或他人造成损失的，由信息发布者自行承担。</p>
		<p>5.2、投资达客用户有义务对融资项目进行尽职调查，核实信息真实性、准确性，若因尽职调查不到位而遭受损失，投资人应自行承担。</p>
		<p>5.3、投资人用户如果通过投资达客提供的服务及信息达成成交项目，有义务通知投资达客， 并提供成交项目的信息，包括融资金额、成交理由。</p>
		<p>5.4、投资达客用户自己承担进行解说直播所需要的网络、支持视频和语音的设备，并保证直播图像清、语音质量清晰、稳定。</p>
		<p>5.5、投资达客用户承诺直播房间必须作解说直播用途，不得用于其他任何非解说直播性质的活动。</p>
		<p>5.6、投资达客用户开展本协议项下解说直播事项和/或在本平台上发布的所有信息/资讯/言论/内容等均不得含有任何违反中华人民共和国有关法律、法规及规定的内容，包括但不限于危害国家安全、淫秽色情、虚假、违法、诽谤（包括商业诽谤）、非法恐吓或非法骚扰、侵犯他人知识产权、人身权、商业秘密或其他合法权益以及有违公序良俗的内容或指向这些内容的链接。</p>
		<p>5.7、投资达客用户承诺积极维护我方及我方平台形象，你方不会做出有损于我方及/或我方平台形象或利益的行为，本协议期内及协议终止后，你方不会通过任何渠道（包括但不限于网站、博客、微博、微信、QQ聊天群等）暗示或发布不利于我方及/或我方平台的言论。</p>
		<p>5.8、未经投资达客书面同意，你方不得在任何场合以任何形式（包括但不限于文字、口播、视频贴片等）提及第三方竞争平台的相关信息，不得引导或为我方平台现有用户、其他直播方及我方员工进入其他第三方竞争平台提供任何信息或便利，包括但不限于提供联络上的协助、进行说服工作等。</p>
		
		<p class="pwei">六、投资达客的专属权利</p>
		<p>6.1、投资达客有权拒绝特定使用者为投资达客用户，或者删除达不到注册要求用户的帐号；</p>
		<p>6.2、投资达客有权在用户许可的情况下将网站、账号、账户、服务的相关信息通过电子邮件、杂志等方式发送给用户； </p>
		<p>6.3、投资达客有权对不同用户进行分类和分级，并对不同类别或级别用户开放不同的权限；</p>
		<p>6.4、在不透露单个用户隐私资料的前提下，投资达客有权对整个用户数据库进行分析并发布分析结果，同时有权对用户数据库进行商业上的利用； </p>
		<p>6.5、投资达客有权对公开发布的项目进行甄选，并向投资人推荐； </p>
		<p>6.6、为提供投资达客服务之目的，若与投资达客合作的第三方如果同意承担与投资达客同等的保护用户隐私的责任，则投资达客有权将用户的注册资料提供给该第三方。</p>
		<p>6.7、投资达客保留不事先通知而中断或终止服务的权利。发生下列任何一种情形，投资达客有权单方面中断或终止向用户提供服务而无需通知用户：</p>
		<p class="p2em">1) 用户通过自动方式创建账户；</p>
		<p class="p2em">2) 用户提供的个人资料不真实；</p>
		<p class="p2em">3) 用户对账户使用自动系统执行操作； </p>
		<p class="p2em">4) 用户违反投资达客服务条款中制定的使用规则；</p>
		<p class="p2em">5) 未经投资达客同意，将投资达客平台用于直接商品交易等商业目的；</p>
		<p class="p2em">6) 用户的操作影响系统总体的稳定性或完整性。</p>
		<p class="p2em">6.8 投资达客有权制定平台运营制度及对直播方的管理规则，并将其作为本协议的一部分，有权对你方进行管理和监督，有权根据运营情况对相应规则做出调整或变更，你方对此表示理解和同意。</p>
		<p>6.9、投资达客对你方进行的直播相关事宜拥有最终决定权。</p>
		<p>6.10、投资达客有权使用你方的的名称（包括但不限于你方真实姓名、笔名、网名、曾用名及任何代表你方身份的文字符号）、肖像（包括但不限于真人肖像及卡通肖像等）进行我方平台的各类宣传。</p>
		
		<p class="pwei">七、用户行为规范</p>
		<p>7.1、用户在使用投资达客平台服务时，必须遵守中华人民共和国相关法律法规的规定，用户应同意将不会利用投资达客平台服务进行任何违法或不正当的活动，包括但不限于下列行为∶用户不能上传、展示、张贴、传播或以其它方式传送含有下列内容之一的信息：</p>
		<p class="p2em">1)  反对宪法所确定的基本原则的；</p>
		<p class="p2em">2)  危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</p>
		<p class="p2em">3)  损害国家荣誉和利益的；</p>
		<p class="p2em">4)  煽动民族仇恨、民族歧视、破坏民族团结的；</p>
		<p class="p2em">5)  破坏国家宗教政策，宣扬邪教和封建迷信的；</p>
		<p class="p2em">6)  散布谣言，扰乱社会秩序，破坏社会稳定的；</p>
		<p class="p2em">7)  散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</p>
		<p class="p2em">8)  侮辱或者诽谤他人，侵害他人合法权利的；</p>
		<p class="p2em">9)  含有虚假、有害、胁迫、侵害他人隐私、骚扰、侵害、中伤、粗俗、猥亵、或其它道德上令人反感的内容；</p>
		<p class="p2em">10) 含有中国法律、法规、规章、条例以及任何具有法律效力之规范所限制或禁止的其它内容的；</p>
		<p class="p2em">11) 不得为任何非法目的而使用网络服务系统。</p>
		<p>7.2、用户不能利用投资达客平台服务从事以下活动：</p>
		<p class="p2em">1) 未经允许，进入计算机信息网络或者使用计算机信息网络资源的；</p>
		<p class="p2em">2) 未经允许，对计算机信息网络功能进行删除、修改或者增加的；</p>
		<p class="p2em">3) 未经允许，对进入计算机信息网络中存储、处理或者传输的数据和应用程序进行删除、修改或者增加的；</p>
		<p class="p2em">4) 故意制作、传播计算机病毒等破坏性程序的；</p>
		<p class="p2em">5) 其他危害计算机信息网络安全的行为。</p>
		<p>7.3、如用户在使用网络服务时违反任何上述规定，投资达客平台或其授权的人有权要求用户改正或直接采取一切必要的措施(包括但不限于更改或删除用户张贴的内容等、暂停或终止用户使用网络服务的权利)以减轻和消除用户不当行为造成的影响。</p>
		<p>7.4、用户不得对投资达客平台服务任何部分，以及在使用投资达客平台服务的过程中获取的信息进行复制、拷贝、出售、转售或用于任何其它商业目的。</p>
		<p>7.5、用户须对自己在使用投资达客平台服务过程中的行为承担法律责任。用户承担法律责任的形式包括但不限于：对受到侵害者进行赔偿，以及在网站首先承担了因用户行为导致的行政处罚或侵权损害赔偿责任后，给予投资达客平台等额的赔偿，并承担投资达客平台因此而支付的费用成本，包括但不限于律师费等。</p>
		
		<p class="pwei">八、软件使用规范</p>
		<p class="fweight6" style="margin-top:20px;">8.1、明确禁止条款：</p>
		<p class="p2em">投资达客只能用于合法目的，即交流专业知识，交流业界资讯，交流人脉关系，交流商业机会等。投资达客明确禁止任何其他用途，所有使用者必须保证不用于下列任何一种用途：</p>
		<p class="p2em">1) 在用户经历中公布虚假的、不完整的或不准确的资料，公布不是经历的资料，如意见、通知、商业广告或其他内容。</p>
		<p class="p2em">2) 本公司的竞争同行用此方法寻求与雇主的业务联络。</p>
		<p class="p2em">3) 擅自删除或修改任何其他个人或公司公布的资料。</p>
		<p class="p2em">4) 擅自打印、复制或使用有关雇员的任何个人资料或有关雇主的商业信息。未经同意，给公布信息的个人或公司发电子邮件、打电话、寄信或进行其他任何形式的接触。</p>
		<p class="fweight6" style="margin-top:20px;">8.2、网址安全规则：</p>
		<p class="p2em">禁止使用者破坏或企图破坏投资达客的安全规则，其中包括但不限于：</p>
		<p class="p2em">1) 接触未经许可的数据或进入未经许可的服务器或账户；</p>
		<p class="p2em">2) 没有得到许可，企图探查，扫描或测试系统或网络的弱点，或者破坏安全措施；</p>
		<p class="p2em">3) 企图干涉对用户及网络的服务，包括并不限于通过超载、"邮件炸弹"或"摧毁"等手段；</p>
		<p class="p2em">4) 发送促销，产品广告及服务的Email；</p>
		<p class="fweight6" style="margin-top:20px;">8.3、总则：</p>
		<p class="p2em">严禁出现下列三种情况：</p>
		<p class="p2em">1) 违反任何现行法律法规；</p>
		<p class="p2em">2) 侵犯他人的著作权及其他知识产权，侵害他人的商业机密或侵犯他人的隐私权等其他个人权利；</p>
		<p class="p2em">3) 利用本软件传送、分发、储存属于诽谤、淫秽、威胁、辱骂性的材料，毁损他人材料。</p>
	</section>
<include file="Public:footer" />
