<include file="Public:header" />
	<section class="about_top w100">
		<a href="{:U('Index/index')}" class="back_go">&lt;</a>
		关于我们
	</section>
	<img class="dis-blo" style="margin:2.5rem auto;" src="__ROOT__/img/wap/about_logo.png" width="70%" alt="">
	<div class="about_con">
		<div class="about_tit">投资达客</div>
		<div class="phkong10"></div>
		<div class="about_con_top">
			● 投资达客位于上海金融中心旗下新三板信息服务平台，拥有国内最专业的投研人员和精选三板优质项目，致力于服务中国高净值个人及机构投资者，基于海量金融数据库，并借助互联网科技的前沿技术，为广大客户提供一站式的资产配置与财富管理服务。<br>
			● 汇集金融产品高端资源，核心投研人员均为行业资深人士，五重风控体系只为甄选最优质的金融产品。投资达客凭借专业优势及良好口碑。荣获“金融诚信服务商”、“互联网行业领先企业”等多种奖项，成为国内互联网金融行业领跑者。<br>
			● 联系电话：400-780-9118<br>
			● 电子邮箱：touzidake@126.com
		</div>
		<div class="phkong15"></div>
		<div class="about_tit">竞争优势</div>
		<div class="phkong10"></div>
		<div class="about_con_top">
			● <strong>成本优势</strong>：一站式金融服务链，低成本化理财<br>
			● <strong>聚焦优势</strong>：实施把控行业动态，聚焦热点资讯<br>
			● <strong>机动优势</strong>：多样化资产配置，灵活操控<br>
			● <strong>速度优势</strong>：多样化资产配置，灵活操控
		</div>
	</div>
	<div class="phkong30"></div>
	<div class="phkong10"></div>
	<!--链接 begin-->
	<section class="w100 lianjie baibg">
		<a href="##">关于我们</a>
		<a href="##">新三板开户</a>
		<a href="##">新三板常见问题</a>
	</section>
	<div class="phkong15"></div>
<!--链接 end-->
	<section class="w100 botoo">
		<img class="dis-blo" src="__ROOT__/img/wap/bot_logo.png" width="40%" alt="">
		<div class="phkong10"></div>
		<div class="talign" style="color:#999; font-size:0.9rem; line-height:1.4rem;">锁定新三板资讯<br>Copyright ©-投资达克版权所有 沪ICP备16034773号-1<br>投资有风险，选择需谨慎</div>
	</section>
	<div class="phkong30"></div>
	<div class="phkong10"></div>
</body>
</html>
