       <script src="__ROOT__/js/common/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="__ROOT__/js/admin/bootstrap.min.js?v=3.3.6"></script>
    <script src="__ROOT__/js/common/tableExport.min.js"></script>
    <script src="__ROOT__/js/common/jspdf.min.js"></script>
    <script src="__ROOT__/js/common/jspdf.plugin.autotable.js"></script>
     <script src="__ROOT__/js/common/bootstrap-table-export.min.js"></script>
    <script src="__ROOT__/js/admin/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
    <script src="__ROOT__/js/admin/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
	<script type="text/javascript" src='__ROOT__/js/admin/plugins/chosen/chosen.jquery.js'></script>
   <script>
	try
{
  $(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",});
}
catch(err)
{
  console.log(err);
}

</script>
</body>
</html>