<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>后台管理</title>
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <link rel="shortcut icon" href="favicon.ico">
    <link href="__ROOT__/css/admin/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="__ROOT__/css/common/bootstrap-table.min.css" rel="stylesheet">
    <link href="__ROOT__/css/admin/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="__ROOT__/css/admin/animate.min.css" rel="stylesheet">
    <link href="__ROOT__/css/admin/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="__ROOT__/css/common/common.css" rel="stylesheet">
    <link href="__ROOT__/css/common/sweetalert.css" rel="stylesheet">
     <link href="__ROOT__/css/admin/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__ROOT__/js/common/uploadify/uploadify.css" rel="stylesheet">
      <link href="__ROOT__/css/admin/plugins/chosen/chosen.css" rel="stylesheet">
    <script type="text/javascript" src="__ROOT__/js/common/jquery-1.12.2.js"></script>
    <script type="text/javascript" src="__ROOT__/js/admin/plugins/iCheck/icheck.min.js"></script>
    <script type="text/javascript" src='__ROOT__/js/common/uploadify/jquery.uploadify.min.js'></script>
    <script type="text/javascript" src='__ROOT__/js/common/sweetalert.min.js'></script>
     <script type='text/javascript'  src='__ROOT__/public/kindeditor2/kindeditor.js'></script>
	 <script type='text/javascript'  src='__ROOT__/public/kindeditor2/lang/zh_CN.js'></script>
    <script>
	  var ROOT="__ROOT__";
	  var URL="__URL__";
	  var MODULE_NAME="{$Think.MODULE_NAME}"; 
	  var CONTROLLER_NAME="{$Think.CONTROLLER_NAME}";
	  var ACTION_NAME="{$Think.ACTION_NAME}";
	</script>
</head>

<body class="gray-bg">