<include file="Common:header" />
<script src="__ROOT__/js/admin/admin.js"></script>
<script src="__ROOT__/js/admin/tablelist.js"></script>
<script type="text/javascript">
	function uninstall(id)
	{
		if(confirm("确定要卸载吗？"))
		{
			location.href = URL + "/uninstall?id="+id;
		}
	}
	function send_demo()
	{		
		$.ajax({ 
				url: URL+'/send_demo?test_mobile='+$.trim($("input[name='test_mobile']").val()), 
				data: "ajax=1",
				dataType: "json",
				success: function(obj){
					if(obj.status==0)
					{
						alert(obj.info);
					}
					else
					$("#info").html(obj.info);
				}
		});
	}
	$(document).ready(function(){
		$("input[name='test_mobile_btn']").bind("click",function(){
			var mail = $.trim($("input[name='test_mobile']").val());	
			if(mail!='')
			send_demo();
		});
	});
</script>
<div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>短信接口列表</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                       
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
            <div class="row row-lg">
   			 <div class="col-sm-12">
        <!-- Example Events -->
        	<div class="example-wrap">
          
            <div class="example">
				
                    <div class="form-group col-xs-6">
          
                        <div class="col-xs-5">
								<input type="text" class="form-control"  name="test_mobile" placeholder="11位手机号" />
								<!-- <input type="button" class="btn btn-primary btn-sm" name="test_mobile_btn" value="发送测试" onclick="check_fee({$data.id});" /> -->
                        </div>
						 <div class="col-xs-2">
								 <input type="button" class="btn btn-primary btn-sm" name="test_mobile_btn" value="发送测试" /> 
                        </div>
                    </div>
				
               <!--  <input type="text" class="f" name="test_mobile" />
				<input type="button" class="button" name="test_mobile_btn" value="{%TEST}" /> -->
                <table id="tablelist"  data-mobile-responsive="true" >
                <thead>
                	<tr>
                		<th data-field="name" >接口名称</th>
                		<th data-field="description">描述</th>
                		 <th data-field="react"  >操作</th>
                	</tr>
                </thead>
				<tbody>
				<foreach name="sms_list" item="sms_item">
				<tr>
					<td>{$sms_item.name}</td>
					<td>{$sms_item.description}</td>				
					<td>
						<if condition="$sms_item['installed'] eq 0">
						<a href="{:u("Sms/install",array("class_name"=>$sms_item['class_name']))}">安装</a>
						<else />
							<a href="javascript:uninstall({$sms_item.id});" >卸载</a>
							<a href="{:u("Sms/edit",array("id"=>$sms_item['id']))}" >编辑</a>
							<if condition="$sms_item['is_effect'] eq 0">
								<a href="{:u("Sms/use_effect",array("id"=>$sms_item['id']))}">使用该接口</a>
							<else />
								正在使用中
							</if>
						</if>
					</td>
					</tr>
				</foreach>
				</tbody>
                </table>
            </div>
        </div>
        </div>
    </div>
	</div>
</div>
<include file="Common:footer" />