<section class="w100 botoo">
		<img class="dis-blo" src="__ROOT__/img/wap/bot_logo.png" width="40%" alt="">
		<div class="talign" style="color:#666; font-size:0.9rem; line-height:1.4rem;">锁定新三板资讯<br>Copyright ©-投资达克版权所有 沪ICP备16034773号-1<br>投资有风险，选择需谨慎</div>
	</section>
	<div class="phkong30"></div>
	<div class="phkong10"></div>
<!--底部 begin-->
	<section class="p-fix app w100">
		<div class="app_left phoneleft ">电话咨询</div>
		<div  class="app_right phyuyue">预约咨询</div>
	</section>
<!--底部 end-->
<script async type="text/javascript" src="{:parse_script($pagejs,$cpagejs,wap)}"></script>
</body>
</html>
