<include file="Common:header" />
<script src="__ROOT__/js/admin/admin.js"></script>
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5 class="text-primary text-center">编辑管理员</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#">管理员列表</a>
                </li>
                <li>
                    <a href="#"></a>
                </li>
            </ul>
            <a class="close-link">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
        <div class="row row-lg">
            <div class="col-xs-12">
                <form name="addadmin" class="form-horizontal" method="post" action="{:U('edit')}">
                    <div class="form-group col-sm-12">
                        <label class="control-label col-sm-3">用户名：</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="username" required="" placeholder="" value="{$v.username}">
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="control-label  col-sm-3">密码：</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" name="password" placeholder="若密码为空则保持不变">
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                    	<label class="control-label  col-sm-3">所属管理组：</label>
                    	 <div class= "col-sm-6">
                              <select name="uid" class="form-control chosen-select" >
                                  <foreach name="list" item="lv">
                                 
                                   <option value="{$lv.id}" <if condition="$v['uid'] eq $lv['id']">selected="selected" </if> >{$lv.title}</option >
								  </foreach>
                              </select>
                         </div>
                    </div>
                    <input type="hidden" name="id" value="{$v.id}">
					<div class="col-sm-6 col-sm-offset-5 col-xs-4 col-xs-offset-4 ">
						<button style="text-shadow: black 5px 3px 3px;" class="btn btn-primary" type="submit">编辑</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<include file="Common:footer" />