<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>后台管理</title>
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <link rel="shortcut icon" href="favicon.ico">
    <link href="__ROOT__/css/admin/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="__ROOT__/css/admin/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="__ROOT__/css/admin/animate.min.css" rel="stylesheet">
    <link href="__ROOT__/css/admin/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="__ROOT__/css/common/flavr.css" rel="stylesheet">
    <script type="text/javascript" src="__ROOT__/js/common/jquery-1.12.2.js"></script>
    <script type="text/javascript" src="__ROOT__/js/common/flavr.min.js"></script>
    <script>
        var ROOT="__ROOT__";
		var pccacheurl="{:U('Cache/pcdelcache')}";
		var wapcacheurl="{:U('Cache/wapdelcache')}";
		var allcacheurl="{:U('Cache/alldelcache')}";
		var houcacheurl="{:U('Cache/houdelcache')}";
    </script>
</head>
<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">