<foreach name="article_list" item="article_list_item" >
			<li class="clearfix">
			<a href="{:U('Article/inside',array('id'=>$article_list_item['id']))}">
				<img class="fl" src="{$article_list_item.icon|imgqudian=###}" width="35%" alt="">
				<div class="art_list_right fr">
					<div class="art_list_tit">{$article_list_item.title|msubstr=###,0,30}</div>
					<div class="art_list_des clearfix">
						<span class="fl">{$article_list_item.writer}</span>
						<em class="fl">{$article_list_item.update_time|date='Y-m-d',###}</em>
					</div>
				</div>
				</a>
			</li>
			</foreach>