<include file="Public:header" />
<div class="wfull bgf2 clearfix">
<!--问答banner开始-->
    <section class="wfull QAbanner"></section>
<!--问答banner结束-->
    <div class="kong30"></div>
<!--妈蛋的横杠开始-->
    <section class="wfull p-rel">
        <div class="w1200">
            <div class="f30 line52 p-rel bgf2 talign" style="z-index:5; width:200px;">常见<span class="colbb">问题解答</span></div>
        </div>
        <div class="QAgang wfull p-abs"></div>
    </section>
<!--妈蛋的横杠结束-->
<!--Q&A开始-->
    <section class="w1200">
        <ul class="QAcon">
            <li class="QAconList">
                <a class="mao" name="neeq01"></a>
                <div class="QAcon_titlt">
                    <div class="QAxuhao fl">
                        <span>01</span>
                    </div>
                    <div class="QAcon_q fl">新三板是什么？</div>
                </div>
                <div class="kong15"></div>
                <div class="QAcon_a clearfix">
                    <div class="QAcon_a_da">答：</div>
                    <ul class="QAcon_a_an">
                        <li>全国中小企业股份转让系统，简称新三板，是继上交所、深交所之后的第三个全国性证券交易场所。</li>
                    </ul>
                </div>
            </li>
            <li class="QAconList">
                <a class="mao" name="neeq02"></a>
                <div class="QAcon_titlt">
                    <div class="QAxuhao fl">
                        <span>02</span>
                    </div>
                    <div class="QAcon_q fl">新四板是什么？</div>
                </div>
                <div class="kong15"></div>
                <div class="QAcon_a clearfix">
                    <div class="QAcon_a_da">答：</div>
                    <ul class="QAcon_a_an">
                        <li>新四板”是对各地区域性股权交易中心的统称，属于区域性的股权交易市场。 </li>
                    </ul>
                </div>
            </li>
            <li class="QAconList">
                  <a class="mao" name="neeq03"></a>
                <div class="QAcon_titlt">
                    <div class="QAxuhao fl">
                        <span>03</span>
                    </div>
                    <div class="QAcon_q fl">新三板靠谱吗？</div>
                </div>
                <div class="kong15"></div>
                <div class="QAcon_a clearfix">
                    <div class="QAcon_a_da">答：</div>
                    <ul class="QAcon_a_an">
                        <li>绝对靠谱，经国务院批准设立，依据证券法设立的全国性证券交易所，主要为创新型、创业型、成长型中小微企业发展服务的平台。 </li>
                    </ul>
                </div>
            </li>
            <li class="QAconList">
                  <a class="mao" name="neeq04"></a>
                <div class="QAcon_titlt">
                    <div class="QAxuhao fl">
                        <span>04</span>
                    </div>
                    <div class="QAcon_q fl">新三板开户怎么开（开户标准）？</div>
                </div>
                <div class="kong15"></div>
                <div class="QAcon_a clearfix">
                    <div class="QAcon_a_da">答：</div>
                    <ul class="QAcon_a_an QAcon_a_daan">
                        <li>投资者携带本人身份证、银行卡及网银，由我们专业的理财经理陪同协助去证券营业厅办理相关手续；</li>
                        <li>投资者本人名下前一交易日日终证券类资产市值500万元人民币以上。证券类资产包括客户交易结算资金、股票、基金、债券、券商集合理财产品等，信用证券账户资产除外；</li>
                        <li>具有两年以上证券投资经验，或具有会计、金融、投资、财经等相关专业背景或培训经历。</li>
                    </ul>
                </div>
            </li>
            <li class="QAconList">
                  <a class="mao" name="neeq05"></a>
                <div class="QAcon_titlt">
                    <div class="QAxuhao fl">
                        <span>05</span>
                    </div>
                    <div class="QAcon_q fl">新三板如何交易？如何购买？如何投资？</div>
                </div>
                <div class="kong15"></div>
                <div class="QAcon_a clearfix">
                    <div class="QAcon_a_da">答：</div>
                    <ul class="QAcon_a_an">
                        <li>选择优质的标的，全方位的考察及调研分析，判断是否有投资价值，符合个人投资理念并以标的方提供的协议价达成合作。</li>
                    </ul>
                </div>
            </li>
            <li class="QAconList">
                  <a class="mao" name="neeq06"></a>
                <div class="QAcon_titlt">
                    <div class="QAxuhao fl">
                        <span>06</span>
                    </div>
                    <div class="QAcon_q fl">新三板交易量不活跃，退出难？</div>
                </div>
                <div class="kong15"></div>
                <div class="QAcon_a clearfix">
                    <div class="QAcon_a_da">答：</div>
                    <ul class="QAcon_a_an QAcon_a_daan">
                        <li>新三板市场目前还处于发展的初级阶段；</li>
                        <li>大多数投资者投资新三板本质就是价值投资，选择长线持有。</li>
                    </ul>
                </div>
            </li>
            <li class="QAconList">
                  <a class="mao" name="neeq07"></a>
                <div class="QAcon_titlt">
                    <div class="QAxuhao fl">
                        <span>07</span>
                    </div>
                    <div class="QAcon_q fl">新三板转板成功的有哪些企业？</div>
                </div>
                <div class="kong15"></div>
                <div class="QAcon_a clearfix">
                    <div class="QAcon_a_da">答：</div>
                    <ul class="QAcon_a_an">
                        <li>康斯特（300445） 新三板2元进，转板后233.63元，赚116倍；</li>
                        <li>双杰电气（300444） 新三板2元进，转板后140.27元，赚70倍；</li>
                        <li>博晖创新（300318） 新三板8.6元进，转板后91.6元，赚10倍；</li>
                        <li>佳讯飞鸿（300213） 新三板1元进，转板后52.56元，赚52倍；</li>
                        <li>紫光华宇（300271） 新三板6元进，转板后73.7元，赚12倍；</li>
                        <li>东土科技（300353） 新三板7元进，转板后76.22元，赚10倍；</li>
                        <li>安控科技（300370） 新三板2.3元进，转板后64.8元，赚28倍；</li>
                        <li>合纵科技（300477） 新三板6.6元进，转板后76.8元，赚11倍；</li>
                        <li>中旗股份（300575） 新三板6元进，转板后66.99元，赚11倍；</li>
                        <li>拓斯达（300607） 新三板6元进，转板后87.87元，赚14倍；</li>
                        <li>三星新材（603578） 新三板2.8元进，转板后73.77元，赚26倍。</li>
                        <li>新三板挂牌企业中有324家正在走IPO流程，其中86家已提交IPO材料，50家已被受理，新三板的转板速度正在加快！</li>
                    </ul>
                </div>
            </li>
            <li class="QAconList">
                  <a class="mao" name="neeq08"></a>
                <div class="QAcon_titlt">
                    <div class="QAxuhao fl">
                        <span>08</span>
                    </div>
                    <div class="QAcon_q fl">新三板企业分层标准是什么？</div>
                </div>
                <div class="kong15"></div>
                <div class="QAcon_a clearfix">
                    <div class="QAcon_a_da">答：</div>
                    <ul class="QAcon_a_an">
                        <li>分为基础层与创新层</li>
                        <li>创新层标准如下：</li>
                        <li>(一)最近两年连续盈利，且年平均净利润不少于2000万元(以扣除非经常性损益前后孰低者为计算依据)；最近两年加权平均净资产收益率平均不低于10%(以扣除非经常性损益前后孰低者为计算依据)；申请挂牌同时发行股票，且融资额不低于1000万元。</li>
                        <li>(二)最近两年营业收入连续增长，且年均复合增长率不低于50%；最近两年营业收入平均不低于4000万元；挂牌时股本不少于2000万股。</li>
                        <li>(三)做市商家数不少于6家；申请挂牌同时发行股票，发行对象中包括不少于6家做市商，按发行价格计算的公司市值不少于6亿元，且融资额不低于1000万元；最近一期期末股东权益不少于5000万元。</li>
                        <li>未达到创新层标准的为基础层。</li>
                    </ul>
                </div>
            </li>
            <li class="QAconList">
                  <a class="mao" name="neeq09"></a>
                <div class="QAcon_titlt">
                    <div class="QAxuhao fl">
                        <span>09</span>
                    </div>
                    <div class="QAcon_q fl">如何选择好的投资标的？</div>
                </div>
                <div class="kong15"></div>
                <div class="QAcon_a clearfix">
                    <div class="QAcon_a_da">答：</div>
                    <ul class="QAcon_a_an QAcon_a_daan">
                        <li>同行业竞争优势；</li>
                        <li>企业规模及实力；</li>
                        <li>净利润增长；</li>
                        <li>负债率；</li>
                        <li>市盈率。</li>
                    </ul>
                </div>
            </li>
            <li class="QAconList">
                  <a class="mao" name="neeq10"></a>
                <div class="QAcon_titlt">
                    <div class="QAxuhao fl">
                        <span>10</span>
                    </div>
                    <div class="QAcon_q fl">新三板风险有多大？</div>
                </div>
                <div class="kong15"></div>
                <div class="QAcon_a clearfix">
                    <div class="QAcon_a_da">答：</div>
                    <ul class="QAcon_a_an QAcon_a_daan">
                        <li>标的企业风险 ：要适当的挑选优质的项目标的，了解其行业优势，产品优势，财务状况等;</li>
                        <li>流动性风险：当下流动性不太活跃，主要还是看后期国家政策利好释放，同时企业是否符合创新层或者有良好的发展空间。</li>
                    </ul>
                </div>
            </li>
            <li class="QAconList">
                  <a class="mao" name="neeq11"></a>
                <div class="QAcon_titlt">
                    <div class="QAxuhao fl">
                        <span>11</span>
                    </div>
                    <div class="QAcon_q fl">新三板如何退出（退出机制）？</div>
                </div>
                <div class="kong15"></div>
                <div class="QAcon_a clearfix">
                    <div class="QAcon_a_da">答：</div>
                    <ul class="QAcon_a_an QAcon_a_daan">
                        <li>协议转让；</li>
                        <li>做市商转让；</li>
                        <li>转板退出；</li>
                        <li>并购重组。</li>
                    </ul>
                </div>
            </li>
            <li class="QAconList">
                  <a class="mao" name="neeq12"></a>
                <div class="QAcon_titlt">
                    <div class="QAxuhao fl">
                        <span>12</span>
                    </div>
                    <div class="QAcon_q fl">公司上市步骤</div>
                </div>
                <div class="kong15"></div>
                <div class="QAcon_a clearfix">
                    <div class="QAcon_a_da">答：</div>
                    <ul class="QAcon_a_an QAcon_a_daan">
                        <li>成立股份公司；</li>
                        <li>上市前辅导；</li>
                        <li>股票发行筹备；</li>
                        <li>申报和审核；</li>
                        <li>促销和发行；</li>
                        <li>股票上市及后续。</li>
                    </ul>
                </div>
            </li>
            <li class="QAconList">
                  <a class="mao" name="neeq12"></a>
                <div class="QAcon_titlt">
                    <div class="QAxuhao fl">
                        <span>13</span>
                    </div>
                    <div class="QAcon_q fl">与大好财富合作的优势有哪些？</div>
                </div>
                <div class="kong15"></div>
                <div class="QAcon_a clearfix">
                    <div class="QAcon_a_da">答：</div>
                    <ul class="QAcon_a_an QAcon_a_daan">
                        <li>项目咨询；</li>
                        <li>开户咨询；</li>
                        <li>投资策略；</li>
                        <li>项目路演；</li>
                        <li>实地调研；</li>
                        <li>专属顾问；</li>
                        <li>风险评估；</li>
                        <li>交易保障。</li>
                    </ul>
                </div>
            </li>
        </ul>
    </section>
<!--Q&A结束-->
    <div class="kong30"></div>
<!--获取资料开始-->
    <section class="QAnews wfull">
        <div class="QAnews_form">
            <form action="{$APP_ROOT}/check_wfyueyu.php" method="post">
                <div class="QAnews_form_input">
                    <input class="fl QAnews_form_input_name" name="txt_name" type="text" placeholder="请输入您的姓名">
                    <input class="fr QAnews_form_input_ph" name="txt_phone" type="text" placeholder="请输入您的联系方式">
                     <input id="resource" name="resource" type="hidden">
                    <input name="distitle" value="{$else_title}" type="hidden">
                </div>
                <div class="kong55"></div>
                <div class="QAnews_form_submit w1200">
                    <input class="ma dis-blo pointer lspace5" type="submit" value="免费获取">
                </div>
            </form>
        </div>
    </section>
<!--获取资料结束-->
</div>
<include file="Public:footer" />