<include file="Public:header" />
	<section class="zhuanti_content">
		{$zhuanti.pczhuanti}
	</section>
	<section class="item_bottom w100">
		<div class="item_bottom_close w1200 clearfix">
			<div class="item_bottom_close_left">投资达客锁定新三板咨询</div>
			<div class="item_bottom_close_right">400-169-9118</div>	
		</div>
		<div class="item_bottom_open w1200 clearfix dis-non">
			<div class="open_left">
				<div class="open_txt">投资达客锁定新三板咨询</div>
				<div class="open_pho">400-169-9118</div>
			</div>
			<div class="open_right">
				<form name="ztyuyue" action="">
					<input type="text" name='name' placeholder="请输入2-5字中文姓名">
					<input type="text" name='mobile' placeholder="请输入您的手机号码">
					<input type="submit" value="预约咨询">
				</form>
			</div>
		</div>
		<div class="tixing">点击展开</div>
	</section>
</body>
<script type="text/javascript">
	
</script>
</html>