@charset "utf-8";
.art{box-sizing:border-box; -webkit-box-sizing:border-box; padding:0 3%;}
.art li{box-sizing:border-box; -webkit-box-sizing:border-box; padding:1rem 1%; border-bottom:0.1rem solid #ccc;}
.art_list_right{width:60%;}
.art_list_tit{width:100%; font-size:1.2rem;}
.art_list_des{margin-top:1rem; color:#666; font-size:1rem;}
.art_list_des em{margin-left:1.5rem;}
.getmore{text-align:center; width:94%; background:#ccc; height:2.8rem; line-height:2.8rem; color:#41a0fe; margin:1.3rem auto; font-size:1.2rem;}

