@charset "utf-8";
.pides{box-sizing:border-box;}
.pides_tit{height:3.4rem; line-height:3.4rem; color:#fff; background:#bb3333;}
.pidesyy{width:80%; margin:0.8rem auto 0.4rem; height:3rem; line-height:3rem; background:#bb3333; border-radius:5px; font-size:1.2rem; text-align:center; color:#fff;}

.pimess{padding:0.6rem 0;}
.pimess_list{width:50%; height:2.4rem; line-height:2.4rem; float:left; box-sizing:border-box; padding-left:3rem; background-repeat:no-repeat; background-position:1.3rem center; background-size:1.5rem 1.5rem;}
.pimess_list:nth-child(2n-1){padding-left:4rem; background-position:2.3rem center;}

.pimess_list span{color:#bb3333; font-size:1rem;}
.pimess_list em{color:#222; font-size:1rem;}

.pimess_list1{background-image:url(../img/phjiancheng.png);}
.pimess_list2{background-image:url(../img/phdizhi.png);}
.pimess_list3{background-image:url(../img/phfaren.png);}
.pimess_list4{background-image:url(../img/phdaima.png);}
.pimess_list5{background-image:url(../img/phguben.png);}
.pimess_list6{background-image:url(../img/phhangye.png);}
.pimess_list7{background-image:url(../img/phfudao.png);}
.pimess_list8{background-image:url(../img/phzhuanrang.png);}


.picontent_tit{width:100%; height:2.6rem; color:#fff; font-size:1.3rem; line-height:2.6rem; background:#bb3333; box-sizing:border-box; padding-left:0.5rem;}
.pivideo embed{width:30rem; height:18rem;}
.pivideo video{width:30rem; height:18rem;}

.picontent_con{padding:0 1.5%; box-sizing:border-box;}
.picontent_con img{width: 100%;}


.back{width:10%; height:3.4rem; box-sizing:border-box; -webkit-box-sizing:border-box; padding-left:3%; font-size:2rem; color:#fff;}
.pides_tit h3{font-weight:100;line-height:3.6rem; font-size:1.4rem; width:70%;}
.back_index{color:#fff; box-sizing:border-box; -webkit-box-sizing:border-box; text-align:right; padding-right:3%; font-size:1.2rem; width:20%;}







