<tagLib name="html" />
<include file="Common:header" />
<script src="__ROOT__/js/admin/admin.js"></script>
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5 class="text-primary text-center">新增视频</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="{:U('index')}">视频列表</a>
                </li>
            </ul>
            <a class="close-link">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
        <div class="row row-lg">
            <div class="col-xs-12">
                <form  class="form-horizontal" method="post" action="{:U('add')}">
                    <div class="form-group col-sm-12">
                        <label class="control-label col-sm-3">视频名称：</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="name" required="" placeholder="">
                        </div>
                    </div>
                       <div class="form-group col-sm-12">
                        <label class="control-label col-sm-3">视频图片：</label>
                        <div class="col-sm-6">
                             <html:imgUpload id="img" name="img" value=''></html:imgUpload>
                        </div>
                    </div>
                       <div class="form-group col-sm-12">
                        <label class="control-label col-sm-3">视频简介：</label>
                         <div class="col-sm-6">
                       		 <textarea name="brief" rows="5" class="form-control"></textarea>
						</div>
                    </div>
                     <div class="form-group col-sm-12">
            		  <label class="control-label col-sm-3">视频内容：</label>
            		  <div class="col-sm-6">
          	 				<html:editor id="editor" name="content" style="width:100%;height:100%" type="KINDEDITOR" ></html:editor>
					  </div>	
        			</div>
                     <div class="form-group col-sm-12">
                        <label class="control-label col-sm-3">视频ID：</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="video_id" required="" placeholder="">
                        </div>
                    </div>
                     <div class="form-group col-sm-12">
                        <label class="control-label col-sm-3">视频unique：</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="video_unique" required="" placeholder="">
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="control-label col-sm-3">是否首页：</label>
                        <div class="col-sm-1">
                           是&nbsp;&nbsp;<input class="i-checks" type="radio" name="is_index" value="1">
                        </div>
                         <div class="col-sm-1">
                           否&nbsp;&nbsp;<input class="i-checks" type="radio" name="is_index" checked="checked"  value="0">
                        </div>
                    </div>
                      <div class="form-group col-sm-12">
                        <label class="control-label col-sm-3">是否热门：</label>
                        <div class="col-sm-1">
                           有效&nbsp;&nbsp;<input class="i-checks" type="radio" name="is_hot" value="1">
                        </div>
                         <div class="col-sm-1">
                           无效&nbsp;&nbsp;<input class="i-checks" type="radio" name="is_hot" checked="checked"  value="0">
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="control-label col-sm-3">是否有效：</label>
                        <div class="col-sm-1">
                           有效&nbsp;&nbsp;<input class="i-checks" type="radio" name="is_effect" checked="checked" value="1">
                        </div>
                         <div class="col-sm-1">
                           无效&nbsp;&nbsp;<input class="i-checks" type="radio" name="is_effect" value="0">
                        </div>
                    </div>
                     <div class="form-group col-sm-12">
                        <label class="control-label col-sm-3">排序：</label>
                        <div class="col-sm-1">
                            <input type="text" class="form-control" name="sort" value="{$vosort}" required="" placeholder="">
                        </div>
                    </div>
					<div class="col-sm-6 col-sm-offset-5 col-xs-4 col-xs-offset-4 ">
						<button class="btn btn-primary" type="submit">新增</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<include file="Common:footer" />