<!--footer begin-->
	<section class="footer w100">
		<div class="footer_con w1200">
			<div class="footer_left fl"><img src="__ROOT__/img/pc/footer_left.jpg" alt=""></div>
			<div class="footer_mid fl">
				<div class="footer_mid_top w100"><img class="dis-blo ma" src="__ROOT__/img/pc/footer_email.png" alt=""></div>
				<div class="kong40"></div>
				<ul class="footer_nav">
					<li><a href="##">服务条款</a></li>
					<li><a href="##">挂牌上市</a></li>
					<li><a href="##">关于我们</a></li>
					<li><a href="##">意见反馈</a></li>
				</ul>
				<div class="kong30"></div>
				<div class="footer_copy colfff f16 talign line36">{:C('system')['COPY']}</div>
				<div class="footer_copy colfff f16 talign line36">{:C('system')['ICP']}{:C('system')['TOTALDATA']}</div>
			</div>
			<div class="footer_left fr"><img src="__ROOT__/img/pc/footer_left.jpg" alt=""></div>
		</div>
	</section>
<!--footer end-->
</body>
<script charset="utf-8" async crossorigin="anonymous" type="text/javascript" src="{:parse_script($pagejs,$cpagejs,pc)}"></script>
<script type="text/javascript">
	jQuery(".banner").slide({mainCell:".bd ul",effect:"leftLoop",autoPlay:true,interTime:3000});
	jQuery(".baike").slide({mainCell:".baike_con ul",effect:"leftLoop",autoPlay:true,interTime:2000});
</script>
</html>