@charset "utf-8";
.lyWithinNAV a:hover{text-decoration:none; color:#bb3333;}
.lyWithinSub{background:#fafafa;}
.lyWithinSubCon{padding:20px 0px; height:220px;}
.lyWithinSubConLeft{padding-right:20px;}
.lyWithinSubConRight{height:220px;}
.lyWithinSubConRightHow{right:-80px; bottom:2px; width:120px; height:32px; line-height:32px; background:#bb3333; border-radius:4px; transition:all 0.3s linear; padding-left:20px; box-sizing:border-box;}
.lyWithinSubConRightHow i{width:0; height:0;border-left:6px solid #fff; border-right:6px solid #bb3333; border-top:6px solid #bb3333; border-bottom:6px solid #bb3333; margin-left:5px; transition:all 0.4s ease-in-out;}
.lyWithinSubConRightHow:hover{text-decoration:none;}
.lyWithinSubConRight:hover .lyWithinSubConRightHow i{margin-left:20px;}

.lyWithinTitle{border-bottom:2px solid #ccc;height:38px;}
.lyWithinWhoConCompany{padding:35px 30px; background:#fafafa;}
.lyWithinWhoConCompanyT{margin-left:30px; width:810px;}

.lyWithinWhereConAddr{height:450px;}
.lyWithinWhereConAddrImg{height:450px; box-sizing:border-box; padding-left:491px; padding-top:173px;}
.dingwei{width:122px;height:122px;}
.dquanquan{width:122px; height:122px; border-radius:100%; box-sizing:border-box; padding:20px; background:rgba(239, 193, 192, 0.6); border:1px solid #fb7070; animation:quanquan 0.8s linear alternate infinite;}
@keyframes quanquan{
    from{transform:scale(1.0);}
    to{transform:scale(0.85);}
}
.xquanquan{width:80px; height:80px; box-sizing:border-box; border-radius:100%; border:1px solid #fb7070;}
.dingwei{}
.dingwei img{left:46px; top:30px;}
.dingweiming{left:-18px; top:78px;}
.dingweimingCon{width:150px; line-height:21px; padding:5px;}

/*分享*/
.jiathis_style_32x32{margin-top:12px;}
.lyinShare{left:0px; bottom:0px; height:56px;z-index:555; box-sizing:border-box; padding-left:20px; background:rgba(0,0,0,0.7); filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#B2000000', endColorstr='#B2000000');}
.jiathis_style_32x32 a{margin-right:15px !important; float:left; margin-top:1px;}
.jiathis_style_32x32 a span{background:none !important;}
.jiathis_button_weixin{background:url(../img/sharetb.png) no-repeat -10px 0px !important; transition:background 0.5s ease;}
.jiathis_button_weixin:hover{background:url(../img/sharetb.png) no-repeat -10px -50px !important;}
.jiathis_button_cqq{background:url(../img/sharetb.png) no-repeat -10px -100px !important; transition:background 0.5s ease;}
.jiathis_button_cqq:hover{background:url(../img/sharetb.png) no-repeat -10px -150px !important;}
.jiathis_button_qzone{background:url(../img/sharetb.png) no-repeat -10px -200px !important; transition:background 0.5s ease;}
.jiathis_button_qzone:hover{background:url(../img/sharetb.png) no-repeat -10px -250px !important;}
.jiathis_button_tsina{background:url(../img/sharetb.png) no-repeat -10px -300px !important; transition:background 0.5s ease;}
.jiathis_button_tsina:hover{background:url(../img/sharetb.png) no-repeat -10px -350px !important;}




